@model EmailsApp.DTOs.PersonWithEmailsDto

@{
    ViewBag.Title = "Person Details";
    Layout = "_Layout";
}


<div class="col-6 mx-auto">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <h2 class="text-center">Person</h2>

    <div id="display">
        <p>
            <span class="fw-bold">First Name:</span> <span id="displayFirstName">@Model.FirstName</span>
        </p>
        <p>
            <span class="fw-bold">Last Name:</span> <span id="displayLastName">@Model.LastName</span>
        </p>
        <div>
            <p class="fw-bold">Description:</p>
            <div
                id="displayDescription"
                style="max-height: 200px; overflow-y: auto; overflow-wrap: break-word;">
                @Model.Description
            </div>
        </div>
        <div class="mt-3 d-flex justify-content-end gap-1">
            <button id="editButton" class="btn btn-primary">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
                class="btn btn-danger"
                onclick="deletePerson({
                    actionUrl: '@Url.Action("Delete", "Person", new { personId = Model.Id })',
                    redirectUrl: '@Url.Action("Index", "Person")'
                })">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>

    <div id="edit" style="display: none;">
        @using (Html.BeginForm("Update", "Person", FormMethod.Post))
        {
            <input type="hidden" name="Id" value="@Model.Id"/>

            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required/>
            </div>

            <div class="form-group mt-3">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required/>
            </div>

            <div class="form-group flex-column mt-3">
                <label for="Description">Description</label>
                <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
            </div>

            <div class="mt-3 d-flex justify-content-end gap-1">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" onclick="cancelEdit()">Cancel</button>
            </div>
        }
    </div>

    <h3 class="mt-3">Emails</h3>
    <table class="table mt-3 table-sm">
        <thead>
        </thead>
        <tbody>
        @foreach (var email in Model.Emails)
        {
            <tr>
                <td>@email.EmailAddress</td>
                <td class="text-end">
                    <a
                        href="javascript:void(0);"
                        onclick="deleteEmail({
                            actionUrl: '@Url.Action("Delete", "Email", new { emailId = email.Id })',
                            emailCount: @Model.Emails.Count,
                            emailAddress: '@email.EmailAddress'
                        })"
                        class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEmailForm" }))
    {
        <input type="hidden" name="personId" value="@Model.Id"/>
        <div class="d-flex gap-2">
            <div class="input-group px-1 w-50">
                @{
                    const int maxEmails = 5;
                    var isEmailLimitReached = Model.Emails.Count >= maxEmails;
                }
                <input
                    type="email"
                    class="form-control"
                    name="emailAddress"
                    placeholder="New email"
                    required @(isEmailLimitReached ? "disabled" : "")>
                <button
                    type="button"
                    class="btn btn-primary" @(isEmailLimitReached ? "disabled" : "")
                    onclick="addEmail({actionUrl: '@Url.Action("AddPersonEmail", "Email")',})">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            @if (isEmailLimitReached)
            {
                <p class="my-auto text-muted">You can add up to @maxEmails emails.</p>
            }
        </div>
    }

</div>

@section Scripts {
    <script src="~/js/personDetails.js"></script>
}