@using EmailsApp.DTOs
@model EmailsApp.Models.PersonListViewModel

@{
ViewBag.Title = "title";
Layout = "_Layout";
}

<h2>People</h2>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#addPersonModal">
        Add New Person
    </button>
</div>

<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model.Persons)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.EmailAddress</td>
            <td>@person.Description@(person.IsDescriptionTruncated ? "..." : "")</td>
            <td>
                <a href="@Url.Action("Details", "Person", new { id = person.Id })" class="btn btn-primary">
                    <i class="fa-regular fa-eye"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Person", new PaginationQuery { Page = Model.Page - 1 })">
                    Previous
                </a>
            </li>
            @for (var i = 1; i <= Model.PageCount; i++)
            {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Person", new PaginationQuery { Page = i })">
                    @i
                </a>
            </li>
            }
            <li class="page-item @(Model.Page == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Person", new PaginationQuery { Page = Model.Page + 1 })">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Add Person Modal -->
<div class="modal fade" id="addPersonModal" tabindex="-1" aria-labelledby="addPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPersonModalLabel">Add New Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Create", "Person")">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="FirstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="LastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="Description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
